<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>期刊查询</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/library/css/bootstrap.css">
    <link rel="stylesheet" href="/static/library/css/index.css">
<!--    <script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>-->
    <script type="text/javascript" src="/static/library/js/bootstrap.js"></script>
</head>
<body>
    <div class='header'>
        <div class="container" >
            <h1>期刊查询</h1> 
        </div>
    </div>

    <div class="main">
        <div class="container" >
            <form class="form-inline" action="/index">
                <div class="form-group">
                    <label>期刊类型：</label> 
                    <select class="form-control">
                        <option>请选择</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>年份：</label> 
                    <select class="form-control">
                        <option>请选择</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>期刊名称：</label> 
                    <input id="name" type="text" placeholder="请输入期刊名称" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> 查询
                    </button>
                </div>

            </form>

            <!-- Table -->
            <table class="table table-bordered" id="table_page">
                <thead>
                    <tr>
                    <th>期刊类型</th>
                    <th>期刊年份</th>
                    <th>期刊名称</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in res %}
                    <tr>
                    <td>{{ row.id }}</td>
                    <td>2019</td>
                    <td>{{ row }}</td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
